# IntelliJ
.idea/
out/
*.iml

# Gradle
.gradle/
build/

# Config
src/main/resources/application.properties

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Exceptions
!gradle-wrapper.jar